<section id="#Vehicle">
<h2> Class Vehicle</h2>

<h3>Description</h3>
<section id="#description">
<p><em>Represent data of a vehicle, used to illustrate <code>clamming</code> tool.</em></p>

<ul>
<li><strong>Author</strong>: Brigitte Bigi</li>
<li><strong>Contact</strong>: develop@sppas.org</li>
<li><strong>Version</strong>: 1.0 of 2023/09/05</li>
<li><strong>License</strong>: GNU GPL version 3</li>
<li><strong>Copyright</strong>: (C) 2023 Brigitte Bigi, Laboratoire Parole et Langage,
Aix-en-Provence, France</li>
</ul>

<h3>Overview</h3>

<p>Vehicle is a Python sample class which can be converted to markdown
or to HTML. Its purpose is to illustrate the <code>clamming</code> features.</p>

<h6>Example</h6>

<pre><code>&gt;&gt;&gt; # Create my vehicle
&gt;&gt;&gt; my_vehicle = Vehicle("Solex", "3800", "1968")
&gt;&gt;&gt; # Indicate two new drove distances
&gt;&gt;&gt; my_vehicle.dist_up(30.)
&gt;&gt;&gt; my_vehicle.dist_up(21.)
&gt;&gt;&gt; # Ask for the total drove distance
&gt;&gt;&gt; my_vehicle.dist
&gt;&gt;&gt; 51.
&gt;&gt;&gt; # Print all known information
&gt;&gt;&gt; print(my_vehicle)
&gt;&gt;&gt; "The vehicle Solex-3800 manufactured in 1968 drove a total of 51.0 kilometers."
</code></pre>

<h3>Other information</h3>

<p>markdown2 library is used to convert docstrings into HTML.</p>

</section>

<h3>Constructor</h3>
<section id="#constructor">
<h4>__init__</h4>

<section>
<div class="highlight"><pre><span></span><code><span class="k">def</span> <span class="fm">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">brand</span><span class="p">:</span> <span class="nb">str</span><span class="p">,</span> <span class="n">model</span><span class="p">:</span> <span class="nb">str</span><span class="p">,</span> <span class="n">year</span><span class="p">:</span> <span class="nb">int</span><span class="p">):</span>
<span class="w">    </span><span class="sd">&quot;&quot;&quot;Create a new vehicle 🚗.</span>

<span class="sd">    :param brand: (str) The brand of the vehicle.</span>
<span class="sd">    :param model: (str) The model of the vehicle.</span>
<span class="sd">    :param year: (int) Year of the manufacture.</span>

<span class="sd">    :raises TypeError: if invalid parameter type</span>
<span class="sd">    :raise ValueError: if invalid year value</span>

<span class="sd">    &quot;&quot;&quot;</span>
    <span class="bp">self</span><span class="o">.</span><span class="n">__brand</span> <span class="o">=</span> <span class="nb">str</span><span class="p">(</span><span class="n">brand</span><span class="p">)</span>
    <span class="bp">self</span><span class="o">.</span><span class="n">__model</span> <span class="o">=</span> <span class="nb">str</span><span class="p">(</span><span class="n">model</span><span class="p">)</span>
    <span class="bp">self</span><span class="o">.</span><span class="n">__check_year</span><span class="p">(</span><span class="n">year</span><span class="p">)</span>
    <span class="bp">self</span><span class="o">.</span><span class="n">__year</span> <span class="o">=</span> <span class="n">year</span>
    <span class="bp">self</span><span class="o">.</span><span class="n">__dist</span> <span class="o">=</span> <span class="mf">0.0</span>
</code></pre></div>



<p><em>Create a new vehicle 🚗.</em></p>

<h6>Parameters</h6>

<ul>
<li><strong>brand</strong>: (<em>str</em>) The brand of the vehicle.</li>
<li><strong>model</strong>: (<em>str</em>) The model of the vehicle.</li>
<li><strong>year</strong>: (<em>int</em>) Year of the manufacture.</li>
</ul>

<h6>Raises</h6>

<ul>
<li><em>TypeError</em>: if invalid parameter type</li>
<li><em>ValueError</em>: if invalid year value</li>
</ul>



</section>
</section>

<h3>Public functions</h3>
<section id="#public_fct">
<h4>brand</h4>

<section>
<div class="highlight"><pre><span></span><code><span class="nd">@property</span>
<span class="k">def</span> <span class="nf">brand</span><span class="p">(</span><span class="bp">self</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="nb">str</span><span class="p">:</span>
<span class="w">    </span><span class="sd">&quot;&quot;&quot;Get the brand of the vehicle.</span>

<span class="sd">        :return: (str) Brand name</span>
<span class="sd">        </span>
<span class="sd">        &quot;&quot;&quot;</span>
    <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">__brand</span>
</code></pre></div>



<p><em>Get the brand of the vehicle.</em></p>

<h6>Returns</h6>

<ul>
<li>(<em>str</em>) Brand name</li>
</ul>



</section>
<h4>model</h4>

<section>
<div class="highlight"><pre><span></span><code><span class="nd">@property</span>
<span class="k">def</span> <span class="nf">model</span><span class="p">(</span><span class="bp">self</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="nb">str</span><span class="p">:</span>
<span class="w">    </span><span class="sd">&quot;&quot;&quot;Get the model of the vehicle.</span>

<span class="sd">        :returns: (str) Model name</span>

<span class="sd">        &quot;&quot;&quot;</span>
    <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">__model</span>
</code></pre></div>



<p><em>Get the model of the vehicle.</em></p>

<h6>Returns</h6>

<ul>
<li>(<em>str</em>) Model name</li>
</ul>



</section>
<h4>year</h4>

<section>
<div class="highlight"><pre><span></span><code><span class="nd">@property</span>
<span class="k">def</span> <span class="nf">year</span><span class="p">(</span><span class="bp">self</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="nb">int</span><span class="p">:</span>
<span class="w">    </span><span class="sd">&quot;&quot;&quot;Get the year of the vehicle.</span>

<span class="sd">        :return:</span>
<span class="sd">            (int) Year name</span>

<span class="sd">        &quot;&quot;&quot;</span>
    <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">__year</span>
</code></pre></div>



<p><em>Get the year of the vehicle.</em></p>

<h6>Returns</h6>

<p>(int) Year name</p>



</section>
<h4>get_dist</h4>

<section>
<div class="highlight"><pre><span></span><code><span class="k">def</span> <span class="nf">get_dist</span><span class="p">(</span><span class="bp">self</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="nb">float</span><span class="p">:</span>
<span class="w">    </span><span class="sd">&quot;&quot;&quot;Get the total dist the vehicle drove.</span>

<span class="sd">        :return: (float) Distance.</span>
<span class="sd">        The distance value does not care about the unit: km/h, mph...</span>

<span class="sd">        &quot;&quot;&quot;</span>
    <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">__dist</span>
</code></pre></div>



<p><em>Get the total dist the vehicle drove.</em></p>

<h6>Returns</h6>

<ul>
<li>(<em>float</em>) Distance. The distance value does not care about the unit: km/h, mph...</li>
</ul>



</section>
<h4>set_dist</h4>

<section>
<div class="highlight"><pre><span></span><code><span class="k">def</span> <span class="nf">set_dist</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">value</span><span class="p">:</span> <span class="nb">float</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="kc">None</span><span class="p">:</span>
<span class="w">    </span><span class="sd">&quot;&quot;&quot;Set the total dist the vehicle drove.</span>

<span class="sd">        :param value: (float) Distance</span>

<span class="sd">        &quot;&quot;&quot;</span>
    <span class="k">try</span><span class="p">:</span>
        <span class="n">value</span> <span class="o">=</span> <span class="nb">float</span><span class="p">(</span><span class="n">value</span><span class="p">)</span>
    <span class="k">except</span><span class="p">:</span>
        <span class="k">raise</span> <span class="ne">TypeError</span><span class="p">(</span><span class="s1">&#39;Expected a float for distance value.&#39;</span><span class="p">)</span>
    <span class="k">if</span> <span class="n">value</span> <span class="o">&lt;</span> <span class="mf">0.0</span><span class="p">:</span>
        <span class="k">raise</span> <span class="ne">ValueError</span><span class="p">(</span><span class="s2">&quot;A vehicle can&#39;t drive a negative distance...&quot;</span><span class="p">)</span>
    <span class="bp">self</span><span class="o">.</span><span class="n">__dist</span> <span class="o">=</span> <span class="n">value</span>
</code></pre></div>



<p><em>Set the total dist the vehicle drove.</em></p>

<h6>Parameters</h6>

<ul>
<li><strong>value</strong>: (<em>float</em>) Distance</li>
</ul>



</section>
<h4>dist_up</h4>

<section>
<div class="highlight"><pre><span></span><code><span class="k">def</span> <span class="nf">dist_up</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">value</span><span class="p">:</span> <span class="nb">float</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="nb">float</span><span class="p">:</span>
<span class="w">    </span><span class="sd">&quot;&quot;&quot;Add a new drive distance.</span>

<span class="sd">        :param value: (float) new distance to take into account. This value is</span>
<span class="sd">            added to the stored one.</span>

<span class="sd">        :example:</span>
<span class="sd">        &gt;&gt;&gt; car = Vehicle(&quot;Brand&quot;, &quot;Model&quot;, 1950)</span>
<span class="sd">        &gt;&gt;&gt; car.dist_up(12.)</span>
<span class="sd">        &gt;&gt;&gt; total_drive = car.dist_up(32)</span>
<span class="sd">        &gt;&gt;&gt; print(total_drive)</span>
<span class="sd">        &gt;&gt;&gt; 44.</span>

<span class="sd">        :return: (float) Total drive distance with the vehicle</span>
<span class="sd">        :raises: ValueError if negative value</span>

<span class="sd">        &quot;&quot;&quot;</span>
    <span class="n">value</span> <span class="o">=</span> <span class="nb">float</span><span class="p">(</span><span class="n">value</span><span class="p">)</span>
    <span class="k">if</span> <span class="n">value</span> <span class="o">&lt;</span> <span class="mf">0.0</span><span class="p">:</span>
        <span class="k">raise</span> <span class="ne">ValueError</span><span class="p">(</span><span class="s1">&#39;A distance is certainly not negative... even when driving backwards!&#39;</span><span class="p">)</span>
    <span class="k">if</span> <span class="n">value</span> <span class="o">&gt;</span> <span class="mf">0.0</span><span class="p">:</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">__dist</span> <span class="o">+=</span> <span class="n">value</span>
    <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">__dist</span>
</code></pre></div>



<p><em>Add a new drive distance.</em></p>

<h6>Parameters</h6>

<ul>
<li><strong>value</strong>: (<em>float</em>) new distance to take into account. This value is added to the stored one.</li>
</ul>

<h6>Example</h6>

<pre><code>&gt;&gt;&gt; car = Vehicle("Brand", "Model", 1950)
&gt;&gt;&gt; car.dist_up(12.)
&gt;&gt;&gt; total_drive = car.dist_up(32)
&gt;&gt;&gt; print(total_drive)
&gt;&gt;&gt; 44.
</code></pre>

<h6>Returns</h6>

<ul>
<li>(<em>float</em>) Total drive distance with the vehicle</li>
</ul>

<h6>Raises</h6>

<p>ValueError if negative value</p>



</section>
</section>

<h3>Protected functions</h3>
<section id="#protected_fct">
<h4>__check_year</h4>

<section>
<div class="highlight"><pre><span></span><code><span class="k">def</span> <span class="nf">__check_year</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">year</span><span class="p">):</span>
    <span class="k">try</span><span class="p">:</span>
        <span class="n">year</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="n">year</span><span class="p">)</span>
    <span class="k">except</span><span class="p">:</span>
        <span class="k">raise</span> <span class="ne">TypeError</span><span class="p">(</span><span class="s1">&#39;Year should be an integer.&#39;</span><span class="p">)</span>
    <span class="k">if</span> <span class="n">year</span> <span class="o">&lt;</span> <span class="mi">1890</span><span class="p">:</span>
        <span class="k">raise</span> <span class="ne">ValueError</span><span class="p">(</span><span class="s1">&#39;Manufacture of a vehicle is certainly not before 1890!&#39;</span><span class="p">)</span>
    <span class="k">if</span> <span class="n">year</span> <span class="o">&gt;</span> <span class="mi">2023</span><span class="p">:</span>
        <span class="k">raise</span> <span class="ne">ValueError</span><span class="p">(</span><span class="s1">&#39;Manufacture of a vehicle is supposed to be done...&#39;</span><span class="p">)</span>
</code></pre></div>



</section>
</section>

<h3>Overloads</h3>
<section id="#overloads">
<h4>__str__</h4>

<section>
<div class="highlight"><pre><span></span><code><span class="k">def</span> <span class="fm">__str__</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
<span class="w">    </span><span class="sd">&quot;&quot;&quot;Define the output string when writing the class.&quot;&quot;&quot;</span>
    <span class="k">return</span> <span class="s1">&#39;The vehicle </span><span class="si">{brand}</span><span class="s1">-</span><span class="si">{model}</span><span class="s1"> manufactured in </span><span class="si">{year}</span><span class="s1"> drove a total of </span><span class="si">{dist}</span><span class="s1"> kilometers.&#39;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">brand</span><span class="o">=</span><span class="bp">self</span><span class="o">.</span><span class="n">__brand</span><span class="p">,</span> <span class="n">model</span><span class="o">=</span><span class="bp">self</span><span class="o">.</span><span class="n">__model</span><span class="p">,</span> <span class="n">year</span><span class="o">=</span><span class="bp">self</span><span class="o">.</span><span class="n">__year</span><span class="p">,</span> <span class="n">dist</span><span class="o">=</span><span class="bp">self</span><span class="o">.</span><span class="n">__dist</span><span class="p">)</span>
</code></pre></div>



<p><em>Define the output string when writing the class.</em></p>



</section>
</section>

</section>
